<html ng-app="crudApp">
<head>
<title>AngularJS CRUD System Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Dołącz Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- Dołącz main CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Dołącz jQuery biblioteke -->
<script src="js/jQuery/jquery.min.js"></script>
<!-- Dołącz AngularJS biblioteke -->
<script src="lib/angular/angular.min.js"></script>
<!-- Dołącz Bootstrap Javascript -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container wrapper" ng-controller="DbController">
<h1 class="text-center">AngularJS CRUD System Demo</h1>
<nav class="navbar navbar-default">
<div class="navbar-header">
<div class="alert alert-default navbar-brand search-box">
<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Dodaj pracownika <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>
<div class="alert alert-default input-group search-box">
<span class="input-group-btn">
<input type="text" class="form-control" placeholder="Szukaj pracownika w bazie danych ..." ng-model="search_query">
</span>
</div>
</div>
</nav>
<div class="col-md-6 col-md-offset-3">

<!--Dołącz szablon formularza służący do wstawiania danych do bazy danych-->
<div ng-include src="'templates/form.html'"></div>

<!-- Dołącz szablon formularza służący do edycji i aktualizacji danych w bazie danych -->
<div ng-include src="'templates/editForm.html'"></div>
</div>
<div class="clearfix"></div>

<!-- Tabela przedstawiająca szczegóły pracownika-->
<div class="table-responsive">
<table class="table table-hover">
<tr>
<Th>Emp ID</th>
<Th>Nazwa pracownika</th>
<Th>Adres e-mail</th>
<Th>Płeć</th>
<Th>Adres</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in details| filter:search_query">
<td>
<span>{{detail.emp_id}}</span></td>
<td>{{detail.emp_name}}</td>
<td>{{detail.emp_email}}</td>
<td>{{detail.emp_gender}}</td>
<td>{{detail.emp_address}}</td>
<td>
<button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
</td>
<td>
<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div>
</div>
</div>
<!-- Dołącz kontroler -->
<script src="js/angular-script.js"></script>
</body>
</html>