<!-- Formularz używany do dodawania nowych wpisów pracownika w bazie danych -->
<form class="form-horizontal alert alert-warning" name="empList" id="empForm" ng-submit="insertInfo(empInfo);" hidden>
<h3 class="text-center">Wstaw szczegóły pracownika do bazy danych</h3>
	<div class="form-group">
		<label for="Name">imię i nazwisko pracownika:</label>
		<input type="text" name="emp_name" class="form-control" placeholder="Enter Employee Name" ng-model="empInfo.name" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_name.$invalid && empList.emp_name.$dirty">Pole "imię i nazwisko pracownika" jest puste!</p>
	</div>
	<div class="form-group">
		<label for="Email">Adres e-mailowy:</label>
		<input type="email" name="emp_email" class="form-control" placeholder="Enter Employee Email Address" ng-model="empInfo.email" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_email.$invalid && empList.emp_email.$dirty">Niepoprawny email!</p>
	</div>
	<div class="form-group">
		<label for="Gender">Płeć:</label>
		<label for="" class="radio-inline gender">
			<input type="radio" name="emp_gender" value="male" ng-model="empInfo.gender">Mężczyzna
		</label>
		<label for="" class="radio-inline gender">
			<input type="radio" name="emp_gender" value="female" ng-model="empInfo.gender">Kobieta
		</label>
	</div>
	
	<div class="form-group">
		<label for="Address">Adres:</label>
		<input type="text" name="emp_address" class="form-control" placeholder="Enter Employee Address" ng-model="empInfo.address" autofocus required />		
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.emp_address.$invalid && empList.emp_address.$dirty">Pole adresu jest puste!</p>
	</div>
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="empList.$invalid">Dodaj do bazy danych</button>
	</div>
</form>